@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-bevan);
}

.active {
  .ham {
    @apply rotate-45;
  }
} 
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke-width:5.5;
  stroke-linecap:round; 
}
.ham .top {
  stroke-dasharray: 40 139;
}
.ham .bottom {
  stroke-dasharray: 40 180;
}
.active .ham .top {
  stroke-dashoffset: -98px;
}
.active .ham .bottom {
  stroke-dashoffset: -138px;
}  

.fade{
  &-in{
    @apply opacity-100 ease-in transition-opacity delay-150 duration-1000;
  }
  &-out{
    @apply opacity-0 ease-out transition-opacity delay-150 duration-1000;
  }
}